body{
    background-image: url(imagens/dev1000.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);  
    font-size: 15px; 
     
}

.container{
    width: 700px;
    margin: 0 auto;
}
.profile{
    text-align: center;
    margin-bottom: 30px;
}
.foto-principal{
    border: 1px double rgb(255, 255, 255);
    border-radius: 0% 40% 40% 0%;
    margin: 30px 30px 0 30px;
    padding: 2px;  
    box-shadow: 0px 0px 8px rgb(245, 246, 247);
}
h1{
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 100;
    letter-spacing: -2px;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
h2{
    margin-top: 0;
    font-style: italic;
    color: hsl(231, 50%, 92%);
    font-weight: 100;
    letter-spacing: -1px;
}
h3{
    font-weight: 100;
}
.social-links{
    text-decoration: none;
}

.social-icons{
    width: 20px;
    margin-left: 10px;
}
   