body{
    background-image: url(fundo\ computador1000.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1,h2,h3,p,ul{
    color: white;   
}
.foto-principal{
    border: 4px double rgb(199, 220, 248);
    border-radius: 0% 40% 40% 0%;
    margin: 30px;
    padding: 2px;  
    box-shadow: 0px 0px 10px rgb(199, 220, 248);
}
   