a{
    color: red;
}
a:hover{
    color: rgb(47, 0, 255);
    font-weight: bold;
}
a:hover + .caixa{
    display: block;
}
a:visited{
    color: yellow;
}
a:active{
    color: pink;
}
.caixa{
    display: none;
    width: 150px;
    height: 150px;
    background: black;
}
.caixa:hover{
    
    background: greenyellow;
}
ul li:first-child{
    color: red;
}
ul li:last-child{
    color: rgb(98, 0, 255);
}
.exemplo p:first-child{
    color: rgb(233, 0, 182);
}
.exemplo2 p:nth-child(5){
    color: springgreen;
}