body{
    background-image: url(fundo\ computador1000.png);
    background-repeat: no-repeat;
    
}
h1,h2,h3,p,ul{
    color: white;
    
}
.foto-principal{
    border: 4px double rgb(255, 255, 255);
    border-radius: 0% 40% 40% 0%;
    
}
   