
::selection{
    color: chartreuse;
    background: darkblue;
}


p::first-line{
    color: blue;
}
p::first-letter{
    color: rgb(255, 0, 0);
    font-size: 50px;
}
h1::before{
    background: url(Rocket-512.png);
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: inline-block;
    content: "";
    background-size: cover;
}
h1::after{
    background: url(Rocket-512.png);
    width: 30px;
    height: 30px;
    margin-left: 10px;
    display: inline-block;
    content: "";
    background-size: cover;
}